<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="user/user_base::layout(~{::section})">
<head>
    <meta charset="ISO-8859-1">
    <title>New Project</title>
</head>
<body>

<section>

    <div class="container">

        <div class="row">

        <div class="change_pass">

        <div class="pass_card">
    <div class="left_side" >
        <h2>Change Password</h2>
        <div class="contain">

        <div class="pass_txt"><i class="fa-solid fa-check"></i> Make passwords long enough.</div>
            <br>
        <div class="pass_txt"><i class="fa-solid fa-check"></i> Avoid common sequences or patterns.</div>
<br>
       <div class="pass_txt"><i class="fa-solid fa-check"></i> Update passwords regularlys.</div>
        </div>
    </div>

        <div class="car-body">

<!--            <h3 class="mx-3 my-3">Change password</h3>-->

            <form class="form_right" th:action="@{/user/change-password}" method="post">
<!--                old password field-->
                <div class="form-group mx-3">
                    <div class="new_text">Old password</div>
                    <input name="oldPassword" class="form-controlll" type="text" placeholder="Enter old password" >
                </div>
<!--                new password field-->
                <div class="form-group my-2 mx-3">
                    <div class="new_text">New password</div>
                    <input name="newPassword" class="form-controlll" type="text" placeholder="Enter new password" >
                </div>

                <div class="container text-center">
                    <button class="btn btn-success" type="submit">Change</button>
                    <button class="btn btn-warning" type="reset">Reset</button>
                </div>

            </form>
        </div>

        </div>

        </div>

        </div>

    </div>
    <script>
        $(document).ready(() =>{
            $(".item").removeClass("active");
            $("#settings-link").addClass("active");
        });
    </script>
</section>
</body>
</html>
